* { margin:0;

}
body {
	font: 12px lucida calligraphy;
	color: #727272;
	background-color: #f4f4f4;
	
	
}
#container{
	width:1100px;
	margin-left:105px;
}
#header{
	width:1100px;
	background:#ff6666;
	height:100px;
}
#header h1 a {
	color:white;
	text-decoration:none;
}
#header h1 a:hover{
	background-color:violet;
}
#logo{
	float:right;
	margin-top:-30px;
}
#menu {
	height:40px;
	background:#993366;
}

#menu ul li{
	margin-top:5px;
	display:inline;
	
}
#menu ul li a{
	margin-top:5px;
	font:14px georgia;
	margin-top:-5px;
	text-decoration:none;
	color:white;
	
}
#nav ul li a:hover{
	color:#ff9933;
	
}
#leftside{
	float:left;
	width:250px;
	Height:240px;
	background:white;
}
#list{
	width:250px;
	background:#ff6666;
}
#list h2{
	color:white;
	border:0px solid #336666;
	background:#ff6666;
}
#list ul li{
	display:block;
	border:1px solid white;
	background:#336666;
	color:white;
	margin-left:-40px;
}
#list ul li a{
	margin-left:5px;
	font:12px helvetica;
	color:white;
	text-decoration:none;
}
#list ul li a:hover{
	color:khaki;
	background:#ff9933;
	text-decoration:none;
}
#center{
	float:left;
	width:500px;
	Height:240px;
	background:white;
}
#center1{
	margin-left:10px;
	text-decoration:none;
}
#center1 img{
	float:left;
}
#center1 h3 a{
	color:black;
	text-decoration:none;

}
#center1 h3 a:hover{
	background:pink;
	
}
#Right{
	float:right;
	width:350px;
	Height:240px;
	background:white;
}
#thumbs{
	display:block;
	width:315px;
	background:white;
	border:0px solid grey;
	margin-left:15px;
}
#thumbs h2{
	color:black;
}
#thumbs img{
	margin-left:0px;
}
#latest{
	width:1100px;
	background:lavender;
	border:1px solid lavender;
	
    
	
}

#latest .box{
    float:left;
	width:216px;
	border:2px solid white;
	background:khaki;
}
#latest .photo{
	float:left;
}
#latest .title h4{
	font:14px georgia;
	color:white;
	border:0px solid black;
	background:#cc3366;

}
#latest .para{
	font:13px times new roman;
	color:green;
	overflow:;
}
#special{
	width:1100px;
	background:#993366;
}
#special .square{
	float:left;
	width:360px;
	background:#cc3366;
	border:3px solid #993366;
}
#special .pics img{
	float:left;
}
#special .title h3{
	color:white;
	font:15px georgia;
	background:#993366;
}
#special .title h3 a{
	color:white;
	text-decoration:none;
}
#special .title h3 a:hover{
	Background:purple;
}
#special .pgraph{
	font:15px nyala;
	color:white;
}
#blog{
	display:block;
	width:200px;
	background:indigo;
}

#blog h3{
	font:16px bahaus;
	border:1px solid violet;
	background:violet;
}
#blog ul li a:hover{
	background:orange;
}
#blog ul li a{
	color:white;
	text-decoration:none;
	border:0px solid white;
	background:purple;
}
#blog ul li{
	display:block;
	margin-top:2px;
	margin-left:-30px;
	
}

#footer{
	width:1100px;
	height:35px;
	background:purple;
	
}
#footer p{
	color:white;
	margin-top:10px;
	margin-left:500px;
}